<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faint.mapper.messageMapper">
  	
	<insert id="insertFirstMessage">
		<selectKey keyProperty="roomid" resultType="int" order="BEFORE">
        	SELECT LAST_INSERT_ID()
	    </selectKey>
		<![CDATA[
		insert into tbl_message(ROOMID, SENDER, SENDTIME, COMMENT, read_status)
		values (
		#{roomid}
		, #{sender}
		, NOW()
		, #{comment}
		, (select count(*) from tbl_chatroom_user where roomid=#{roomid} and userid!=#{sender})
		)
		]]>
	</insert>
	
	<update id="readMessages">
        insert into tbl_message_read
        (messageid, userid, readtime)
        select m.id, #{loginid}, now()
		from
        (select id, sendtime from tbl_message where roomid=#{roomid} and sender!=#{loginid}) m
        left join
        tbl_message_read r
        on r.messageid=m.id and r.userid=#{loginid}
        where r.messageid is null
		order by m.sendtime
	</update>
	
	<select id="getMessages" resultType="com.faint.domain.MessageVO">
        select m.id, m.roomid, m.sendtime, m.read_status, m.comment, m.sender, u.nickname as senderNickname, u.profilephoto, count(cu.userid)-count(mr.userid) as readstatus
		from
        
        tbl_message m
		
        join
		tbl_chatroom_user r
		on m.roomid=r.roomid
		
        left join
		tbl_user u
		on m.sender=u.id
        
        left join
        tbl_message_read mr
        on m.id=mr.messageid
        
        left join
        tbl_chatroom_user cu
        on cu.roomid=m.roomid and cu.userid!=#{loginid}
        
		where m.roomid=#{roomid}
		and r.userid=#{loginid}
		and m.sendtime>=r.regdate
		group by m.id
        order by m.sendtime;
	</select>
	
	<insert id="registMessage">
		insert into tbl_message(ROOMID, SENDER, SENDTIME, COMMENT, read_status)
		values (
		#{roomid}
		, #{sender}
		, NOW()
		, #{comment}
		, (select count(*) from tbl_chatroom_user where roomid=#{roomid} and userid!=#{sender})
		);
	</insert>
	
	<select id="getUsers" resultType="java.lang.String">
        select group_concat(u.nickname separator '|')as users
		from
		tbl_chatroom_user c
		join
		tbl_user u
		on c.userid=u.id where roomid=#{roomid} and userid!=#{sender};
	</select>
	
</mapper>
